{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "loose": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  // для того, что бы использовать експерементальный синтаксис классов
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-transform-runtime", { "regenerator": true }],
    "@babel/plugin-proposal-class-properties"
  ]
}
